.row {
    margin: 2rem 0;
}

.jumbotron {
    background-color: #FFE6F5 ;
}
.btn-primary  {
    background-color: #7B034A;
    border: none;
}

.btn-primary:hover{
    background-color: #5B0237;
}

.btn-primary:active{
    background-color: #5B0237;
}

h1 {
    color: #7B034A;
}

.question-img{
    margin-top: 20px;
}

.card-title{
    background-color: #7B034A;
    padding: 5px 15px;
    color: white;
}

.card {
    margin: 10px;
    display: inline-block;
    padding: 0;
}

.card:hover{
    cursor: pointer;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

p.card-title {
    overflow: hidden;
    height: 60px;
    margin: 0;
}