---
layout: layout/main.njk

title: What Jam Are You
subtitle: Static Site Generator Demo
cardTitle: I am generated! 🤖
---
 

<div class="row justify-content-center">
    <div class="col-6 col-md-6">
        <div class="jumbotron">
            <h1 class="text-center">WHAT JAM ARE YOU?</h1>
            <hr>   
            <p class="lead text-center">Have you always wanted to know whether you're the smooth talking strawberrylicious type of jam, or more the bold, poppin' cherry kind? Don't worry! Our advanced jamgorithm will provide you with some fruitful knowledge on who you really are!</p>
            <a href="/questions/" type="button" class="btn btn-primary btn-lg btn-block">START THE QUIZ!</a>
        </div>
    </div>
</div>
